In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
pd.set_option("display.max_columns",500)

In [12]:
df = pd.read_csv(r"C:\Users\Suhas\Desktop\python somenath\mtcars.csv")

In [13]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [7]:
df.head(2)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4     4

In [8]:
df.tail(2)

     mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
30  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8
31  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

In [9]:
df.sample(3)

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 2.9 KB

In [12]:
df.isna()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False

In [13]:
df.isna().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [14]:
df.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [15]:
df.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [16]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [17]:
df.min()

mpg     10.400
cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec    14.500
vs       0.000
am       0.000
gear     3.000
carb     1.000
dtype: float64

In [18]:
df.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [21]:
df.var()

mpg        36.324103
cyl         3.189516
disp    15360.799829
hp       4700.866935
drat        0.285881
wt          0.957379
qsec        3.193166
vs          0.254032
am          0.248992
gear        0.544355
carb        2.608871
dtype: float64

In [22]:
df.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [23]:
df.quantile([0.50,0.75,0.95])

       mpg  cyl   disp      hp    drat       wt     qsec   vs   am  gear  carb
0.50  19.2  6.0  196.3  123.00  3.6950  3.32500  17.7100  0.0  0.0   4.0   2.0
0.75  22.8  8.0  326.0  180.00  3.9200  3.61000  18.9000  1.0  1.0   4.0   4.0
0.95  31.3  8.0  449.0  253.55  4.3145  5.29275  20.1045  1.0  1.0   5.0   4.9

In [24]:
df.vs.value_counts()

0    18
1    14
Name: vs, dtype: int64

In [25]:
df.cyl.value_counts()

8    14
4    11
6     7
Name: cyl, dtype: int64

In [26]:
df.gear.value_counts()

3    15
4    12
5     5
Name: gear, dtype: int64

# how to select specific columns in data

In [27]:
df.mpg
df['mpg']
df[['mpg']]

     mpg
0   21.0
1   21.0
2   22.8
3   21.4
4   18.7
5   18.1
6   14.3
7   24.4
8   22.8
9   19.2
10  17.8
11  16.4
12  17.3
13  15.2
14  10.4
15  10.4
16  14.7
17  32.4
18  30.4
19  33.9
20  21.5
21  15.5
22  15.2
23  13.3
24  19.2
25  27.3
26  26.0
27  30.4
28  15.8
29  19.7
30  15.0
31  21.4

In [28]:
df[['mpg','hp']]

     mpg   hp
0   21.0  110
1   21.0  110
2   22.8   93
3   21.4  110
4   18.7  175
5   18.1  105
6   14.3  245
7   24.4   62
8   22.8   95
9   19.2  123
10  17.8  123
11  16.4  180
12  17.3  180
13  15.2  180
14  10.4  205
15  10.4  215
16  14.7  230
17  32.4   66
18  30.4   52
19  33.9   65
20  21.5   97
21  15.5  150
22  15.2  150
23  13.3  245
24  19.2  175
25  27.3   66
26  26.0   91
27  30.4  113
28  15.8  264
29  19.7  175
30  15.0  335
31  21.4  109

# loc/iloc

In [30]:
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [33]:
df.loc[[0,1,2,3,4,5,6],["mpg","cyl","vs"]]

    mpg  cyl  vs
0  21.0    6   0
1  21.0    6   0
2  22.8    4   1
3  21.4    6   1
4  18.7    8   0
5  18.1    6   1
6  14.3    8   0

In [36]:
df.loc[[5,9],["vs","am"]]

   vs  am
5   1   0
9   1   0

In [37]:
df.loc[0:5,["vs","cyl","mpg"]]

   vs  cyl   mpg
0   0    6  21.0
1   0    6  21.0
2   1    4  22.8
3   1    6  21.4
4   0    8  18.7
5   1    6  18.1

In [38]:
df.iloc[0:5,0:5]

    mpg  cyl   disp   hp  drat
0  21.0    6  160.0  110  3.90
1  21.0    6  160.0  110  3.90
2  22.8    4  108.0   93  3.85
3  21.4    6  258.0  110  3.08
4  18.7    8  360.0  175  3.15

In [39]:
df.iloc[2:4,7:]

   vs  am  gear  carb
2   1   1     4     1
3   1   0     3     1

In [40]:
df.iloc[[0,2,5],[2,4,6]]

    disp  drat   qsec
0  160.0  3.90  16.46
2  108.0  3.85  18.61
5  225.0  2.76  20.22

In [42]:
df.loc[22:24,:]

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2

In [43]:
df.iloc[22:24,:]

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4

# filter

In [48]:
df[df['hp']>300]

     mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
30  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5     8

In [46]:
df[df['cyl']==6]

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6

In [49]:
df[df["disp"] >300]

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8

In [50]:
df[df["gear"] == 5]

     mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
26  26.0    4  120.3   91  4.43  2.140  16.7   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8

In [54]:
df[(df["mpg"] > 20) | (df["gear"] == 6)]

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [56]:
df[(df["gear"]==4)|(df["mpg"] > 22) | (df["vs"] == 1)]

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [59]:
df[(df["gear"]==4) & (df["gear"] == 3)]

Empty DataFrame
Columns: [mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb]
Index: []

In [61]:
df[df["gear"] == 5]

     mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
26  26.0    4  120.3   91  4.43  2.140  16.7   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8

# group by using pandas

In [63]:
df.groupby??

In [76]:
df.groupby(["gear"])["mpg"].max()

gear
3    21.5
4    33.9
5    30.4
Name: mpg, dtype: float64

In [86]:
df.groupby(["gear","cyl"])["mpg"].agg({"mean","max","min"})

            mean   max   min
gear cyl
3    4    21.500  21.5  21.5
     6    19.750  21.4  18.1
     8    15.050  19.2  10.4
4    4    26.925  33.9  21.4
     6    19.750  21.0  17.8
5    4    28.200  30.4  26.0
     6    19.700  19.7  19.7
     8    15.400  15.8  15.0

In [88]:
df.groupby(["gear","cyl"])["mpg"].max()

gear  cyl
3     4      21.5
      6      21.4
      8      19.2
4     4      33.9
      6      21.0
5     4      30.4
      6      19.7
      8      15.8
Name: mpg, dtype: float64

In [89]:
df.groupby(["gear","cyl"])["mpg"].describe()

          count    mean       std   min     25%    50%     75%   max
gear cyl
3    4      1.0  21.500       NaN  21.5  21.500  21.50  21.500  21.5
     6      2.0  19.750  2.333452  18.1  18.925  19.75  20.575  21.4
     8     12.0  15.050  2.774396  10.4  14.050  15.20  16.625  19.2
4    4      8.0  26.925  4.807360  21.4  22.800  25.85  30.900  33.9
     6      4.0  19.750  1.552417  17.8  18.850  20.10  21.000  21.0
5    4      2.0  28.200  3.111270  26.0  27.100  28.20  29.300  30.4
     6      1.0  19.700       NaN  19.7  19.700  19.70  19.700  19.7
     8      2.0  15.400  0.565685  15.0  15.200  15.40  15.600  15.8

In [100]:
pd.DataFrame([[1,2],[3,4]],columns =["a","b"],index =["a","b"])

   a  b
a  1  2
b  3  4

# how to add/delete columns

In [14]:
df["new_col"] = 1

In [15]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb  new_col
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4        1
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4        1
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1        1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1        1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2        1
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1        1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4        1
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2        1
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2        1
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4        1
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4        1
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3        1
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3        1
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3        1
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4        1
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4        1
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4        1
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1        1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2        1
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1        1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1        1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2        1
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2        1
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4        1
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2        1
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1        1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2        1
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2        1
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4        1
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6        1
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8        1
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2        1

In [16]:
#adding a column
l = []
for i in df["gear"]:
    if i%2 == 0:
        l.append("even")
    else:
        l.append("odd")
df["new_col"] = l
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb new_col
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4    even
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4    even
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1    even
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1     odd
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2     odd
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1     odd
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4     odd
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2    even
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2    even
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4    even
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4    even
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3     odd
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3     odd
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3     odd
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4     odd
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4     odd
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4     odd
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1    even
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2    even
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1    even
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1     odd
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2     odd
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2     odd
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4     odd
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2     odd
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1    even
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2     odd
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2     odd
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4     odd
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6     odd
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8     odd
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2    even

In [17]:
df["new_col"] = df["mpg"]>= 20

In [18]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb  new_col
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4     True
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4     True
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1     True
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1     True
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2    False
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1    False
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4    False
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2     True
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2     True
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4    False
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4    False
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3    False
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3    False
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3    False
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4    False
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4    False
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4    False
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1     True
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2     True
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1     True
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1     True
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2    False
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2    False
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4    False
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2    False
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1     True
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2     True
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2     True
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4    False
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6    False
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8    False
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2     True

In [19]:
df.drop(["new_col"],axis = 1,inplace = True)

In [20]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [25]:
df.drop([0,5] ,axis = 0,inplace = False)

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

# sorting

In [26]:
df.sort_values(["hp"],ascending = [False])

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2

In [28]:
df.sort_values(["mpg","hp"],ascending =[False,True])

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4

In [29]:
df.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [30]:
df.columns = ['MPG', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb']

In [31]:
df.head(0)

Empty DataFrame
Columns: [MPG, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb]
Index: []

In [32]:
df.rename({"MPG" : "mpg"},axis = 1)

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2